/* 
    General Styles used on every website (Don't Repeat Yourself)
*/


body {
    background-color: #FFA510;
    color: white;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: white;
  }
  
label {
    color: white;
}

nav {
    background-color: #7565A8;
    color: white;
    
}

.navbrand {
    font-family: zilla;
    font-weight: 700;
    color: white;
}

h3 {
    font-weight: 100;
}


.petcard {
    width: 300px;
    background-color: #7565A8;
    border-radius: 10px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.344);
    transition: 300ms;
}

.petcard:hover {
    transform: scale(102%);
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.154);;
}

.card_species {
    
    font-weight: 100;
    font-size: 20px;
    color: white;
    margin-bottom: 28px;

}
.petpiccard {
    width: 100px;   
    margin-top: 12px;
    margin-bottom: 12px;
  

}
.homelogo {
    width: 300px;
    align-self: center;
}

.registerbadge {
    width: 200px;
    align-self: center;
}

.petpic {
    width: 200px;
}

.petpic1 {
    width: 400px;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.petpicture {
width: 350px;
}

.petlabel {
    align-self: left;
}

.drop {
    background-color: #FFA510;
    border: 1px solid white;
    border-radius: 20px;
    width: 350px;
    color: white;
    padding-left: 12px;
    margin-bottom: 10px;

}

.boldlink {
    font-weight: 500;
    text-decoration: none;
    color: white;
}


.footer {
    background-color: #7565A8;
}

.inputfield {
    background-color: #FFA510;
    border: 1px solid white;
    border-radius: 20px;
    width: 350px;
    color: white;
    padding-left: 12px;
    height: 36px;

}

input::file-selector-button {
    text-decoration: none;
    color: white;
    background-color: #7565A8;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    transition-duration: 200ms;
    margin-right: 20px;
    margin-top: 10px;
  }

.purplebutton {
    text-decoration: none;
    color: white;
    background-color: #7565A8;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    transition-duration: 200ms;

}

.purplebutton:hover {
    transform: scale(103%);
    color: #7565A8;
    background-color: white;
}

.signup {
    text-decoration: none;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    transition-duration: 200ms;
}


::placeholder {
    color: white;
    opacity: 0.4; 
  }

  .error {
    text-decoration: none;
   text-align: center;
    color: white;
    background-color:red;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
  }

  .margintop {
    margin-top: 160px;
  }

  .marginbottom {
    margin-bottom: 150px;
  }

  .blacktext {
    color: black;
    font-size: 18px;
    text-align: center;
    align-self: center;
  }